<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}" />
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{site.title}}</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="margin-bottom: 0px;" />
        {% endif %}

        <a href="https://github.com/mgalla16-sn4g">Github</a> | <a href="https://www.linkedin.com/in/matthew-r-gallagher-78bbb4148/"> Linkedin</a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
      <div id="navbar">
        <ul>
          <li><a href="https://mgalla16.github.io">Home</a></li>
          <li><a href="https://all-in-one-300017.uc.r.appspot.com/app">Flight Tracker</a></li>
          <li>Section</li>
        </ul>
      </div>
      <h1>{{page.title}}</h1>
      <p class="byline">{{ page.author }}</p>
      {% if page.header_image %}
        <img src={{page.header_image}} alt="RIP_DeLaurier" title="RIP DeLaurier" style="margin-bottom: 0px;" />
        <p class="caption">{{page.header_caption}}</p>
      {% endif %}
      {% if page.categories.size > 0 %}
        <p style="float: left;">Tags: </p>
        <ul class="cats">
        {% for cat in page.categories %}
          <li class="badge"><a href="google.com">{{cat}}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {{content}}
      {% if page.categories.size > 0 %}
      	<p style="float: left;">Tags: </p>
      	<ul class="cats">
      	{% for cat in page.categories %}
        	<li class="badge"><a href="google.com">{{cat}}</a></li>
      	{% endfor %}
      	</ul>
      {% endif %}
      </section>
      <footer>
        <p><small>Don't forget to like, comment, and subscribe. Donate to my Patreon so I can keep making content for ya'll. Follow my Instagram, Twitter, Facebook, MySpace, OnlyFans, download my Xanga blog, hit me on Friendster, etc.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>